body 
{
    font-family:'Century Gothic'; 
}


.floating-box {
    float: left;
    width: 505px;
    height: 43px;
    margin: 5px;  
    font: Century Gothic;
}

.content 
{
    background-color:#c2e9e9;
    height: 323px;
    width: 1034px;
    display:inline-block;
    
}

h1 
{
    text-align:center;
    width: 623px;
    height: 45px;
}

.box {
    float: right;
    height: 43px;
    margin: 2px;  
    font: Century Gothic;
}

.button 
{
    font: Century Gothic;
}

