body {    height: 645px;
    width: 1150px;
}

h1 
{
    text-align:center;
}

.sidePanel 
{
    width: 82px;
    float:left;
    top: 84px;
    left: 27px;
    width: 102px;
    height: 242px;
    position:absolute;
}

.top
 {
    position:absolute;
    display:inline;
    text-align:center;
    margin-left: 80px;
    top: 111px;
     left:79px;
     height: 156px;
      width:836px;
}

#DropDownList .register 
{
    
}

.register 
{
   position:absolute;
   text-align:center;
    margin-left: 80px;
    top: 181px;
    left: 86px;
    height: 57px;
    width:759px;
}

.gridview 
{
    position:absolute;
    clear:left;
    top: 374px;
    left: 151px;
}


#background 
{
    opacity:0.5;
}

.academdic 
{
    position:absolute;
   text-align:center;
}

#Textbox .personalInfo 
{
    display:inline;
}

DropDownList .register 
{
    width:77px;
    height:22px;
}

TextBox .personalInfo 
{
    display: inline;
}


.floating-box {
    float: left;
    width: 308px;
    height: 38px;
    margin: 5px;  
}

.inputArea 
{
    float:right;
    height: 232px; 
    width: 1007px;
    margin-left: 104px;
    margin-bottom:5px;

}